<section class="benefits" id="benefits">
  <div class="container benefits-wrapper">
    <h2 class="benefits-header">BENEFITS OF WORKING WITH ME</h2>

    <div class="contant">
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./img/sprites.svg#user_icon"></use>
          </svg>
          <div class="benefits-item-text">
            <h3 class="benefits-subtitle">Expertise</h3>
            <p class="benefits-paragraph">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./img/sprites.svg#message_chat_icon"></use>
          </svg>
          <div class="benefits-item-text">
            <h3 class="benefits-subtitle">Communication</h3>
            <p class="benefits-paragraph">Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./img/sprites.svg#brush_icon"></use>
          </svg>
          <div class="benefits-item-text">
            <h3 class="benefits-subtitle">Art</h3>
            <p class="benefits-paragraph">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./img/sprites.svg#hourglass_icon"></use>
          </svg>
          <div class="benefits-item-text">
            <h3 class="benefits-subtitle">Urgent execution</h3>
            <p class="benefits-paragraph">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
          </div>
        </li>
      </ul>
      <a href="#footer" class="benefits-order-button">Order the project</a>
    </div>
  </div>
</section>
