<section class="covers">
  <div class="container-covers">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-display">
      <ul class="covers-list">
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/first_slide.webp"
            alt="Project screen 1"
            srcset="
              ./img/covers/first_slide.webp    1x,
              ./img/covers/first_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/second_slide.webp"
            alt="Project screen 2"
            srcset="
              ./img/covers/second_slide.webp    1x,
              ./img/covers/second_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/third_slide.webp"
            alt="Project screen 3"
            srcset="
              ./img/covers/third_slide.webp    1x,
              ./img/covers/third_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/four_slide.webp"
            alt="Project screen 4"
            srcset="
              ./img/covers/four_slide.webp    1x,
              ./img/covers/five_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/five_slide.webp"
            alt="Project screen 5"
            srcset="
              ./img/covers/five_slide.webp    1x,
              ./img/covers/five_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/six_slide.webp"
            alt="Project screen 6"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/six_slide.webp    1x,
              ./img/covers/six_slide@2x.webp 2x
            "
          />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/four_slide.webp"
            alt="Project screen 4"
            srcset="
              ./img/covers/four_slide.webp    1x,
              ./img/covers/four_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/five_slide.webp"
            alt="Project screen 5"
            srcset="
              ./img/covers/five_slide.webp    1x,
              ./img/covers/five_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/six_slide.webp"
            alt="Project screen 6"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/six_slide.webp    1x,
              ./img/covers/six_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/seven_slide.webp"
            alt="Project screen 7"
            srcset="
              ./img/covers/seven_slide.webp    1x,
              ./img/covers/seven_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/eight_slide.webp"
            alt="Project screen 8"
            srcset="
              ./img/covers/eight_slide.webp    1x,
              ./img/covers/eight_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/nine_slide.webp"
            alt="Project screen 9"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/nine_slide.webp    1x,
              ./img/covers/nine_slide@2x.webp 2x
            "
          />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/seven_slide.webp"
            alt="Project screen 7"
            srcset="
              ./img/covers/seven_slide.webp    1x,
              ./img/covers/seven_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/eight_slide.webp"
            alt="Project screen 8"
            srcset="
              ./img/covers/eight_slide.webp    1x,
              ./img/covers/eight_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/nine_slide.webp"
            alt="Project screen 9"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/nine_slide.webp    1x,
              ./img/covers/nine_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/ten_slide.webp"
            alt="Project screen 10"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/ten_slide.webp    1x,
              ./img/covers/ten_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/first_slide.webp"
            alt="Project screen 1"
            srcset="
              ./img/covers/first_slide.webp    1x,
              ./img/covers/first_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/second_slide.webp"
            alt="Project screen 2"
            srcset="
              ./img/covers/second_slide.webp    1x,
              ./img/covers/second_slide@2x.webp 2x
            "
          />
        </li>
      </ul>

      <ul class="covers-list">
        <li class="covers-item">
          <img
            src="./img/covers/ten_slide.webp"
            alt="Project screen 10"
            class="covers-img"
            loading="lazy"
            srcset="
              ./img/covers/ten_slide.webp    1x,
              ./img/covers/ten_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/first_slide.webp"
            alt="Project screen 1"
            srcset="
              ./img/covers/first_slide.webp    1x,
              ./img/covers/first_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/second_slide.webp"
            alt="Project screen 2"
            srcset="
              ./img/covers/second_slide.webp    1x,
              ./img/covers/second_slide@2x.webp 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            class="covers-img"
            loading="lazy"
            src="./img/covers/third_slide.webp"
            alt="Project screen 3"
            srcset="
              ./img/covers/third_slide.webp    1x,
              ./img/covers/third_slide@2x.webp 2x
            "
          />
        </li>
      </ul>
    </div>
  </div>
</section>
