<header class="header">
  <div class="container header-container">
    <a class="header-link" href="./index.html">
      <img
        class="header-logo-bc"
        src="./img/logo.webp"
        srcset="./img/logo.webp 1x, ./img/logo_@2x.webp 2x"
        alt="logo"
      />
      <p class="header-logo-jefferson">jefferson*</p>
    </a>
    <div class="header-nav">
      <div class="header-nav-menu">
        <button class="button-header header-menu-title" type="button">
          Menu
        </button>
        <nav>
          <ul class="header-nav-menu-list">
            <li class="header-nav-menu-item"><a href="#about">About me</a></li>
            <li class="header-nav-menu-item">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="header-nav-menu-item">
              <a href="#projects">Projects</a>
            </li>
            <li class="header-nav-menu-item"><a href="#faq">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-order">
        <a href="#order">Order the project</a>
      </div>
      <button aria-label="Open menu button" class="button-header header-burger">
        <svg class="header-burg-icon">
          <use href="./img/sprites.svg#menu_icon"></use>
        </svg>
      </button>
      <div class="header-dropdown-wrapper">
        <div class="container menu-container">
          <button
            aria-label="Close menu button"
            class="button-header header-close-btn"
            type="button"
          >
            <svg class="header-close-icon">
              <use href="./img/sprites.svg#close_icon"></use>
            </svg>
          </button>
          <ul class="header-dropdown">
            <li class="header-dropdown-item"><a href="#about">About me</a></li>
            <li class="header-dropdown-item">
              <a href="#benefits">Benefits</a>
            </li>
            <li class="header-dropdown-item">
              <a href="#projects">Projects</a>
            </li>
            <li class="header-dropdown-item"><a href="#faq">FAQ</a></li>
          </ul>
          <div class="header-order-burger">
            <a href="#order">Order the project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
