<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-hello">HELLO.</span> I’M FULLSTACK DEVELOPER LLOYD
      JEFFERSON.
    </h1>
    <ul class="hero-list">
      <li class="hero-link">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="hero-link">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="hero-link">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li class="hero-link">
        <a
          href="https://github.com/Andrey-Alohin/elevate_together"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="hero-link email-link">
        <a
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
