<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-subtitle">projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-box-flex">
            <div class="project-box-content">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Andrey-Alohin/elevate_together#"
                class="projects-link"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>
            <div class="projects-box-img">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./image/projects/project_1_tab+desk@1x.webp 1x,
                    ./image/projects/project_1_tab+desk@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./image/projects/project_1_mob@1x.webp 1x,
                    ./image/projects/project_1_mob@2x.webp 2x
                  "
                />
                <img
                  class="projects-image"
                  src="./image/projects/project_1_tab+desk@1x.webp"
                  alt="project image read journey"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-box-flex">
            <div class="project-box-content">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Andrey-Alohin/elevate_together#"
                class="projects-link"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>
            <div class="projects-box-img">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./image/projects/project_2_tab+desk@1x.webp 1x,
                    ./image/projects/project_2_tab+desk@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./image/projects/project_2_mob@1x.webp 1x,
                    ./image/projects/project_2_mob@2x.webp 2x
                  "
                />
                <img
                  class="projects-image"
                  src="./image/projects/project_2_tab+desk@1x.webp"
                  alt="project image petlove"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-box-flex">
            <div class="project-box-content">
              <ul class="projects-list">
                <li class="projects-item">#react</li>
                <li class="projects-item">#js</li>
                <li class="projects-item">#node js</li>
                <li class="projects-item">#git</li>
              </ul>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Andrey-Alohin/elevate_together#"
                class="projects-link"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
              >
            </div>
            <div class="projects-box-img">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./image/projects/project_3_tab+desk@1x.webp 1x,
                    ./image/projects/project_3_tab+desk@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./image/projects/project_3_mob@1x.webp 1x,
                    ./image/projects/project_3_mob@2x.webp 2x
                  "
                />
                <img
                  class="projects-image"
                  src="./image/projects/project_3_tab+desk@1x.webp"
                  alt="project image VocabBuilder"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="projects-btn-box">
    <button class="projects-arow-btn" id="btn-prev">
      <svg class="arrow-icon" width="24" height="24">
        <use href="./image/sprite.svg#arrow_left"></use>
      </svg>
    </button>
    <button class="projects-arow-btn" id="btn-next">
      <svg class="arrow-icon" width="24" height="24">
        <use href="./image/sprite.svg#arrow_right"></use>
      </svg>
    </button>
  </div>
</section>
