<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-placeholder hidden">Not Found</div>
    <div class="swiper reviews-swiper reviews-gallery">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="reviews-btn-box hidden">
        <button aria-label="Prev review button" class="reviews-arow-btn prev">
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprites.svg#arrow_left"></use>
          </svg>
        </button>
        <button aria-label="Next review button" class="reviews-arow-btn next">
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprites.svg#arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
